
# To use 'docker compose' as 'podman compose' in PowerShell, add this to your profile:
# Set-Alias docker podman
# version: '3.8'
services:
  qdrant:
    container_name: qdrant
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    
    volumes:
      - qdrant_data:/qdrant/storage

  neo4j:
    container_name: neo4j
    image: neo4j:latest
    ports:
      - "7474:7474"
      - "7687:7687"
      - "7473:7473"
    environment:
 
      - NEO4J_AUTH=neo4j/neo4j12#456
      - NEO4J_dbms_security_auth__enabled=false
      - NEO4J_dbms_security_auth__max__failed__attempts=100
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
      - NEO4J_dbms_security_procedures_allowlist=apoc.*      

# Use x-extensions to provide a hint for podman compose aliavolume ng
x-podman:
  &podman_compose
  entrypoint: ["podman", "compose"]
  # mcp-neo4j-cypher-server:
  #   image: mcp/neo4j-cypher:latest
  #   ports:
  #     - '8000:8000'
  #   environment:
  #     - NEO4J_URI=bolt://host.containers.internal:7687
  #     - NEO4J_USERNAME=neo4j
  #     - NEO4J_PASSWORD=neo4j12#456
  #     - NEO4J_DATABASE=neo4j
  #     - NEO4J_TRANSPORT=http
  #     - NEO4J_MCP_SERVER_HOST=0.0.0.0 # must be 0.0.0.0 for sse  or http transport in Docker
  #     - NEO4J_MCP_SERVER_PORT=8000
  #     - NEO4J_MCP_SERVER_PATH=/api/mcp/
  #     - NEO4J_NAMESPACE=local
  #   depends_on:
  #     - neo4j

  #   volumes:
  #     - neo4j_data:/data
  #     - neo4j_logs:/logs


  # api:
  #   build: { context: .. , dockerfile: infrastructure/Dockerfile }
  #   ports: ["8000:8000"]
  #   volumes:
  #     - ../docs:/app/docs
  #     - ../sql:/app/sql
  #     - ../source:/app/source


volumes:
  qdrant_data:
  neo4j_data:
  neo4j_logs:

